<header class="absolute w-full">
  <div class="bg-slate-800 hidden lg:block">
    <div class="container items-center text-white">
      <ul class="flex justify-between">
        <li>
           All course 30% off for <span class="text-emerald-500">Liberian people's</span>
        </li>
        <li>
          <img src="../assets/shape-1.webp" />
        </li>
        <li class="">
          <i class="fa fa-phone text-emerald-500"></i>
          <a href="tel:+919999999999" class="hover:text-emerald-500 transition-all duration-100">+91 99999 99999</a>
        </li>
        <li class="">
          <i class="fa fa-envelope text-emerald-500"></i>
          <a target="_blank" href="mailto:test@gmail.com"
            class="hover:text-emerald-500 transition-all duration-100">test&#64;gmail.com</a>
        </li>
        <li>
          <img src="../assets/shape-2.webp" />
        </li>
        <li>
          <ul class="flex gap-2 text-white">
            <li>
              <i class="fa fa-facebook"></i>
            </li>
            <li>
              <i class="fa fa-twitter"></i>
            </li>
            <li>
              <i class="fa fa-instagram"></i>
            </li>
            <li>
              <i class="fa fa-youtube"></i>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="pt-10">
    <div class="flex items-center justify-between container border border-emerald-600 border-opacity-30 rounded-xl">
      <a href="">
        <img src="../assets/logo.png" />
      </a>
      <ul class="flex text-slate-700 font-semibold text-lg">
        <li>
          <a [routerLink]="['']">Home</a>
        </li>
        <li>
          <a [routerLink]="['all-course']">All Course</a>
        </li>
        <li>
          <a [routerLink]="['pages']">Page</a>
        </li>
        <li>
          <a [routerLink]="['blog']">Blog</a>
        </li>
        <li>
          <a [routerLink]="['contact-us']">Contact</a>
        </li>
      </ul>
      <ul class="flex text-slate-700 font-semibold text-lg">
        <li>
          <a [routerLink]="['login']">Sign In</a>
        </li>
        <li>
          <a [routerLink]="['registration']">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<router-outlet></router-outlet>