<header>
    <div class="container w-auto bg-emerald-300">
      <ul class="flex">
        <li class="mx-3 px-2 py-3">
          <a [routerLink]="['']">Home</a>
        </li>
        <li class="mx-3 px-5 py-3">
          <a [routerLink]="['all-course']">All Course</a>
        </li>
        <li class="mx-3 px-5 py-3">
          <a [routerLink]="['pages']">Page</a>
        </li>
        <li class="mx-3 px-5 py-3">
          <a [routerLink]="['blog']">Blob</a>
        </li>
        <li class="mx-3 px-5 py-3">
          <a [routerLink]="['contact-us']">Contact</a>
        </li>
      </ul>
    </div>
</header>